name: Terraform Plan

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - qa
          - prod
      action:
        description: "Terraform action"
        required: true
        default: "plan"
        type: choice
        options:
          - plan
          - apply
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      TF_VERSION: 1.6.6
      TF_VAR_environment: ${{ inputs.environment }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        working-directory: environments/${{ inputs.environment }}
        run: terraform init

      - name: Terraform Validate
        working-directory: environments/${{ inputs.environment }}
        run: terraform validate

      - name: Terraform Plan
        if: inputs.action == 'plan'
        working-directory: environments/${{ inputs.environment }}
        run: terraform plan

      # - name: Terraform Apply
      #   if: inputs.action == 'apply'
      #   working-directory: environments/${{ inputs.environment }}
      #   run: terraform apply -auto-approve

      # - name: Terraform Destroy
      #   if: inputs.action == 'destroy'
      #   working-directory: environments/${{ inputs.environment }}
      #   run: terraform destroy -auto-approve
